<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu gốc -->
        <menuitem
            id="menu_quan_ly_cong_viec_root"
            name="Quản lý công việc"
            sequence="0"/>
        <menuitem 
            name="Dự án" 
            id="menu_du_an" 
            parent="menu_quan_ly_cong_viec_root" 
            sequence="1"
            action="action_du_an"
        />
        <menuitem 
            name="Công việc" 
            id="menu_cong_viec" 
            parent="menu_quan_ly_cong_viec_root" 
            sequence="2"
            action="action_cong_viec"
        />
        <menuitem 
            name="Công việc cần xử lý" 
            id="menu_cong_viec_need_attention" 
            parent="menu_quan_ly_cong_viec_root" 
            sequence="3"
            action="action_cong_viec_need_attention"
        />
        <menuitem 
            name="Báo cáo tiến độ" 
            id="menu_bao_cao_tien_do" 
            parent="menu_quan_ly_cong_viec_root" 
            sequence="4"
            action="action_bao_cao_tien_do"
        />

        <menuitem
            name="Cấu hình (Admin)"
            id="menu_cv_admin_config"
            parent="menu_quan_ly_cong_viec_root"
            sequence="90"
            groups="base.group_system"/>

        <menuitem
            name="Người tham gia"
            id="menu_cv_admin_nguoi_tham_gia"
            parent="menu_cv_admin_config"
            sequence="1"
            action="action_nguoi_tham_gia"
            groups="base.group_system"/>

        <menuitem
            name="Phân bổ nguồn lực"
            id="menu_cv_admin_phan_bo_nguon_luc"
            parent="menu_cv_admin_config"
            sequence="2"
            action="action_phan_bo_nguon_luc"
            groups="base.group_system"/>
    </data>
</odoo>
